<md-dialog ng-cloak class="medium">
    <md-toolbar class="color-blue md-title-header-bar" style="width:100%!important">
        <div class="md-toolbar-tools">
            <h2 style="color: white !important">Forgot Password</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModal()">
                <md-icon md-font-icon="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="forgotPasswrodForm" data-ng-init="loadedForm()">
            <div layout-gt-md="row" layout-md="column">
                <div flex>
                    <!-- Left Col -->
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input ng-model="email" type="text" required name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
                        <div ng-messages="forgotPasswrodForm.email.$error" ng-if="forgotPasswrodForm.email.$dirty">
                            <div ng-message="required">The field above is required</div>
                            <!--<div ng-message-exp="['pattern']">You cannot capture special characters</div>-->
                        </div>
                    </md-input-container>
                </div>

            </div>
            <md-content class="md-padding">
                <div layout="row">
                    <div flex="50" layout="column" layout-align="start start">
                        <md-button class="md-raised md-default" ng-click="closeModal()">Cancel Request</md-button>
                    </div>
                    <div flex="50" layout="row" layout-align="end end">
                        <md-button class="md-primary md-primary-custom" ng-click="recoverPassword(email)">Request Password</md-button>
                    </div>
                </div>
            </md-content>
        </form>
    </md-content>
</md-dialog>