<div class="single-page blog" ng-show="vm.hasAccommodation">
    <div class="container">
        <div class="col-md-8 single-page-left">
            <div class="single-page-info">
                <img ng-src="{{vm.accommodation.pictures}}" alt="Accommodation inmage" />
                <h4>Comments</h4>
                <p>{{vm.accommodation.Comment}}</p>
            </div>
            <!--related-posts-->
        </div>
        <div class="col-md-4 blog-right">
            <h3>Book to view this accommodation</h3>
            <ul class="catgry">
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{{vm.accommodation.name}}</a></li>
                <br />

                <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{{vm.accommodation.description}}</a></li>
                <br />

                <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{{vm.accommodation.address}}</a></li>
                <br />

                <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>R&nbsp;{{vm.accommodation.price}}</a></li>
            </ul>
            <div class="more more2">
                <a class="button-pipaluk button--inverted" style="cursor:pointer" ng-click="vm.bookThisAccommodation(vm.accommodation)">Book</a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div ng-show="!vm.hasAccommodation">
    <h2> NO ACCOMMODATION BOOKED</h2>
</div>