<div class="contact">
    <div class="container">
        <div class="contact-grids">
            <div class="col-md-6 contact-grid">
                <h3 class="title">Account Management</h3>
                <!--<p>Complete the short form below & we will contact you with availability.</p>-->
                <p></p>
                <form>
                    <div>
                        <h2>Current Balance</h2>
                        <p>{{vm.accountDetails.amountofAmountOutstanding}}</p>

                        <h3>Number of user Registered so far</h3>
                        <p>{{vm.accountDetails.numberOfUsersRegistered}}</p>
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>