<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://comstu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>comstu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>comstu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$comstu</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="COMSTUContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:comstu.database.windows.net,1433;Initial Catalog=comstu;User ID=comstu@comstu.database.windows.net;Password=P@$$w0rd" Name="Data Source=tcp:comstu.database.windows.net,1433;Initial Catalog=comstu;User Id=comstu@comstu.database.windows.net;Password=P@$$w0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COMSTU.COMSTUContext, COMSTU" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:comstu.database.windows.net,1433;Initial Catalog=comstu;User ID=comstu@comstu.database.windows.net;Password=P@$$w0rd" Name="Data Source=tcp:comstu.database.windows.net,1433;Initial Catalog=comstu;User Id=comstu@comstu.database.windows.net;Password=P@$$w0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COMSTU.Models.ApplicationDbContext, COMSTU" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COMSTUContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:comstu.database.windows.net,1433;Initial Catalog=comstu;User Id=comstu@comstu.database.windows.net;Password=P@$$w0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:comstu.database.windows.net,1433;Initial Catalog=comstu;User Id=comstu@comstu.database.windows.net;Password=P@$$w0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>