<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="AMApp">
<head>
    <title>Comstu | User Account Management :: Confident Professionals</title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Rental Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/prettySticky.css" type="text/css">
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!--//end-smoth-scrolling-->
    <link href="Content/toastr.css" rel="stylesheet" />
    <script src="Scripts/toastr.js"></script>
    <link href="assets/css/loading-bar.css" rel="stylesheet" />
</head>
<body ng-controller="adminAccommodationManagementController">
    <!--banner-->
    <div id="home" class="banner about-banner">
        <div class="banner-info">
            <!--navigation-->
            <div class="top-nav">
                <nav>
                    <div class="container">
                        <div class="navbar-header logo">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a href="index.html">COMSTU</a></h1>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-right">

                                <li><a href="adminAccommodationManagement.html" class="link-kumya"><span data-letters="Acc Activation">Acc Activation</span></a></li>
                                <li><a href="adminAccountManagement.html" class="link-kumya active"><span data-letters="Account Management">Account Management</span></a></li>
                                <li><a href="index.html" class="link-kumya"><span data-letters="LogOut">LogOut</span></a></li>
                                <li><a><span style="border: 1px solid #021a40;padding: 5px;background-color: navy; color: white;">Welcome &nbsp; {{user.surname}}</span></a></li>
                            </ul>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--//navigation-->
            <div class="banner-text">
                <h2>WE'LL HELP YOU FIND YOUR PERFECT ACCOMODATION</h2>
            </div>
        </div>
    </div>
    <!--//banner-->
    <!-- contact -->
    <div class="contact">
        <div class="container">
            <div class="col-md-12 contact-grid">
                <!--<h3 class="title">Accomodation View and Activate</h3>-->
                <!--<p>Complete the short form below & we will contact you with availability.</p>-->
                <br /><br />
                <table ng-show="accommodations.length > 0" class="table">
                    <thead style="font-weight:bolder">
                        <tr>
                            <td>Student Name</td>
                            <td>Student Surame</td>
                            <td>Student Cellphone</td>
                            <td>No Of User registered</td>
                            <td>Current Balance</td>
                            <td>Should be paid</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.Name}}</td>
                            <td>{{user.surname}}</td>
                            <td>{{user.cellphone}}</td>
                            <td>{{user.numberOfUserRegistered}}</td>
                            <td>{{user.balance}}</td>
                            <td>{{user.shouldBePaid}}</td>
                            <td ng-if="shouldPayUser">
                                <input type="button" value="Pay" ng-click="payUser(user)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- //contact -->
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-4 footer-grids">
                <h3>Review</h3>
                <p>I found this website to be very helpful to get accommodations most espeecially during the holidays, It removes the hustle of having to ask friends to find you place or having to cut the holiday short.</p>
            </div>
            <div class="col-md-3 footer-grids">
                <h3>Contact Me</h3>
                <p>
                    info@comstu.co.za<br>
                    <span>Cellphone: +27 83 516 6741</span>
                </p>
                <div class="footer-bottom">
                    <a href="#"><span>Facebook</span></a>
                    <a href="#"><span>LinkedIn </span></a>
                </div>
            </div>
            <div class="col-md-5 footer-grids">
                <h3>Meet the Team</h3>
                <a class="footer-img" href=""> <img src="images/f1.jpg" alt="Manager" /></a>
            </div>
            <div class="clearfix"> </div>
            <div class="footer-copy">
                <p>© 2017 Comstu. All rights reserved | Design by <a target="_blank" href="sigh.azurewebsites.net">Sight Business Integrations</a></p>

            </div>
        </div>
    </div>
    <!--//footer-->
    <!-- script-for prettySticky -->
    <script src="js/prettySticky.js"></script>
    <!--//script-for prettySticky -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>

<script src="assets/js/angular.js"></script>
<script src="assets/js/angularjwt.js"></script>
<script src="assets/js/interceptor.js"></script>
<script src="assets/js/jwt.js"></script>
<script src="assets/js/angular-mocks.js"></script>
<script src="app/components/blocks/exception/exception.js"></script>
<script src="app/components/blocks/logger/logger.js"></script>
<script src="assets/js/base64.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/ngstorage.min.js"></script>
<script src="assets/js/angular-toastr.tpls.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/angular-messages.js"></script>
<script src="assets/js/md-data-table.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/angular-moment.min.js"></script>
<script src="assets/js/loading-bar.js"></script>

<!-- Angualr Material -->

<script src="assets/js/angular-ui-router.js"></script>
<script src="assets/js/angular-animate.js"></script>
<script src="assets/js/angular-aria.js"></script>
<script src="assets/js/angular-material.js"></script>
<script src="assets/js/material-menu-sidenav.js"></script>
<script src="assets/js/md-data-table.js"></script>

<!--App Config-->
<script src="app/app.js"></script>
<script src="app/config.route.js"></script>
<script src="app/components/mockbackend/application.mockbackend.js"></script>

<!--Directives-->
<script src="app/components/pageheader/dirpageheader.js"></script>

<!-- Controller -->
<script src="adminAccommodationManagement.controller.js"></script>




<!-- Service -->
<script src="app/Services/admin.services.js"></script>