<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="AMApp">
<head>
    <title>Comstu | Available accomodations :: Confident Professionals</title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Rental Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/prettySticky.css" type="text/css">
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!--//end-smoth-scrolling-->
    <link href="assets/css/loading-bar.css" rel="stylesheet" />
</head>
<body ng-controller="accommodationController" ng-init="loadingData()">
    <!--banner-->
    <div id="home" class="banner about-banner">
        <div class="banner-info">
            <!--navigation-->
            <div class="top-nav">
                <nav>
                    <div class="container">
                        <div class="navbar-header logo">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a href="index.html">COMSTU</a></h1>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-right">
                                <li><a href="index.html" class="link-kumya"><span data-letters="Home">Home</span></a></li>
                                <li><a href="availableAccomodation.html" class="link-kumya active"><span data-letters="Find Accommodation">Find Accommodation</span></a></li>
                                <li><a href="register.html" class="link-kumya"><span data-letters="Registers">Register</span></a></li>
                                <li><a href="login.html" class="link-kumya"><span data-letters="Login">Login</span></a></li>
                              
                            </ul>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--//navigation-->
            <div class="banner-text">
                <h2>WE'LL HELP YOU FIND YOUR PERFECT ACCOMODATION</h2>
            </div>
        </div>
    </div>
    <!--//banner-->
    <!--blog-->
    <div style=" padding-left: 70%">
        <select class="typeSelect" style="width: 50% !important;" name="sign" ng-model="city" ng-change="selectedCity(city)">
            <option value="">Search by city</option>
            <option value="Johannesburg">Johannesburg</option>
            <option value="Vanderbijlpark">Vanderbijlpark</option>
            <option value="Braamfontein">Braamfontein</option>
            <option value="Limpopo">Limpopo</option>
        </select>
    </div>

    <div style=" padding-left: 70%">
        <select class="typeSelect" style="width: 50% !important;" name="sign" ng-model="houseType" ng-change="selectedHouseType(houseType)">
            <option value="">Search by House Type</option>
            <option value="House">House</option>
            <option value="Flat">Flat</option>
            <option value="TownHouse">Town House</option>
            <option value="Cottage">Cottage</option>
            <option value="SingleRoom">Single Room</option>
            <option value="DoubleRoom">Double Room</option>
            <option value="TrippleRoom">Tripple Room</option>
        </select>
    </div>
    <div class="blog">
        <div class="container">
            <h3 class="title">Available Accommodations</h3>
            <br />
            <div class="row">
                <ul id="" class="col-md-4 col-xs-6" ng-repeat="accommodation in accommodations | filter: city | filter: houseType">
                    <li>
                        <div class="blog-img">
                            <img style="width:100%;height: 90px; display: block; max-width: 100%; height: auto;" ng-src="{{accommodation.pictures}}" />
                        </div>
                        <div class="caption">
                            <h4>{{accommodation.Name}}</h4>
                            <span><strong> Posted on </strong> &nbsp;&nbsp; {{accommodation.DateCreated | date:'dd/MM/yyyy'}}</span>
                            <p><strong>Description :</strong> {{accommodation.Description}}</p>
                            <div class="more more2">
                                <a class="button-pipaluk button--inverted" style="cursor:pointer" ng-click="viewDetails(accommodation)"> Read More</a>
                            </div>
                        </div>
                        <br /><br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//blog-->
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-4 footer-grids">
                <h3>Review</h3>
                <p>I found this website to be very helpful to get accommodations most espeecially during the holidays, It removes the hustle of having to ask friends to find you place or having to cut the holiday short.</p>
            </div>
            <div class="col-md-3 footer-grids">
                <h3>Contact Me</h3>
                <p>
                    info@comstu.co.za<br>
                    <span>Cellphone: +27 83 516 6741</span>
                </p>
                <div class="footer-bottom">
                    <a href="#"><span>Facebook</span></a>
                    <a href="#"><span>LinkedIn </span></a>
                </div>
            </div>
            <div class="col-md-5 footer-grids">
                <h3>Meet the Team</h3>
                <a class="footer-img" href=""> <img src="images/f1.jpg" alt="Manager" /></a>
            </div>
            <div class="clearfix"> </div>
            <div class="footer-copy">
                <p>© 2017 Comstu. All rights reserved | Design by <a target="_blank" href="sigh.azurewebsites.net">Sight Business Integrations</a></p>

            </div>
        </div>
    </div>
    <!--//footer-->
    <!-- script-for prettySticky -->
    <script src="js/prettySticky.js"></script>
    <!--//script-for prettySticky -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>

<script src="assets/js/angular.js"></script>
<script src="assets/js/angularjwt.js"></script>
<script src="assets/js/interceptor.js"></script>
<script src="assets/js/jwt.js"></script>
<script src="assets/js/angular-mocks.js"></script>
<script src="app/components/blocks/exception/exception.js"></script>
<script src="app/components/blocks/logger/logger.js"></script>
<script src="assets/js/base64.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/ngstorage.min.js"></script>
<script src="assets/js/angular-toastr.tpls.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/angular-messages.js"></script>
<script src="assets/js/md-data-table.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/angular-moment.min.js"></script>
<script src="assets/js/loading-bar.js"></script>

<!-- Angualr Material -->

<script src="assets/js/angular-ui-router.js"></script>
<script src="assets/js/angular-animate.js"></script>
<script src="assets/js/angular-aria.js"></script>
<script src="assets/js/angular-material.js"></script>
<script src="assets/js/material-menu-sidenav.js"></script>
<script src="assets/js/md-data-table.js"></script>

<!--App Config-->
<script src="app/app.js"></script>
<script src="app/config.route.js"></script>
<script src="app/components/mockbackend/application.mockbackend.js"></script>

<!--Directives-->
<script src="app/components/pageheader/dirpageheader.js"></script>

<!-- Controller -->
<script src="registration.controller.js"></script>
<script src="accommodation.controller.js"></script>




<!-- Service -->
<script src="app/Services/registration.services.js"></script>
<script src="app/Services/accommodation.service.js"></script>
